# Environment
.env

# Python
__pycache__/
*.pyc

# Node
node_modules/

# Next.js
.next/
next-env.d.ts
tsconfig.tsbuildinfo

# Logs
*.log

# Docker
*.pid

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
.env.local
